*{
	padding: 0px;
	margin: 0px;
}

body{
	background-image: url("../imagens/meu.gif");
	background-position: 50% 70%;
	color: white;
	font-family: arial 

}	

input{
	display: block;
	height: 55px;
	width: 400px;
	margin: 10px;
	border-radius: 30px;
	border: 1px solid black;
	font-size: 16pt;
	padding: 10px 20px;
	background-color: rgba(255,255,255,);
	outline: none;

}

div#corpo-form{
	/*background-color: red;*/
	width: 420px;
	margin: 130px auto 0px auto;
}


a{
	color: white;
	text-decoration: none;
	text-align: center;
	display: block;
}

a:hover{
	text-decoration: underline;
}

input[type=submit]{
	background-color: #483D8B;
	border:none;
	color: white;
	cursor: pointer;
}